*{
  margin: 0;
  padding: 0;
}
.main{
  height: 300px;
  margin: -50 -50 -50 -50;
}
.header{
  background-color:rgb(230, 0, 14) ;
  text-align: center;
  font-family: 'Gugi', cursive;
  font-size: 50px;
  width:100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}
.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.logo_text h2{
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.logo{
  margin: -50 -50 -50 -50;
}
.menubar{
  width: 100%;
}
ul.menu{
  background-color: rgb(66, 63, 70);
}
ul.menu li{
  float:left;
  list-style: none;
  padding: 0 0 0 0px;
  margin: 1px 180px 0 0;
}
ul.menu li a{
  font-family: 'Mina', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
ul.menu li a:hover{
  color: rgb(63, 231, 29);
}

.headers{
	list-style: none;
	text-align: center;	 
	text-decoration: none;
}